body {
    margin: 0;
    background-color: gray;
    font: 14px/18px Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
    color: white;
    font-size: 12px;
}
.header {   
    height: 80px;
    background-color: rgb(255, 217, 0);
}
.line1 {
    background-color: black;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.line_top {
    /* background-color: tomato   ; */
    align-self: center;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.line_top>div{
    background-color: rgb(37, 36, 36);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.c1 {
    flex: 6;
}
.c2 {
    flex: 2;
}
.c3 {
    flex: 6;
} 
.logo {
    align-self: center;
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: 3 1;
    width: 160px;
    height: 30px;
}
.khuyenmai {
    color: #efe500;
}

.locationChoose {
    font-weight: bold;
    color: #efe500;
}
.t_search {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search {
    height: 70%;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
    border-radius: 5px;
}
.search:focus {
    outline: none;
}
.icontgdd-topsearch {
    position: absolute;
    right: 10px;
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -160px 0;
    width: 20px;
    height: 20px;
}

.giohang {
    color: white;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid white 1px;
    border-radius: 5px;
}   

.icontgdd-cart {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -144px -90px;
    height: 22px;
    width: 28px;
}
.c3>div{
    border-right: 1px rgb(155, 150, 150)  solid;
} 
.custom2{
    position: relative;
   text align:right ;
   flex :2.5;
   color: yellow;
}
.custom{
   text-align: center;
   flex: 1;
}
.custom:hover{
    background-color: white;       }
.line2{
    background-color:yellow;
    height: 50%;
    display: flex;
    flex-direction: column;    } 
.line2_buttom{
    align-self: center;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    font-size:12px;    }
.b{
     flex:1;
     display:flex;
     justify-content: center;       
     align-items: center;  }
 .b:hover{
     background-color:white;
 }.b1{
     flex:1.5;    
     display:flex;
     justify-content: center;
     align-items: center;
 }.b1:hover{
    background-color: white;
 }
.icon_dt{
    /* background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2); */
    background-position: 0 -91px;
    height: 22px;
    width: 13px;
}
.icon_latop{
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -15px -91px;
    height: 24px;
    width: 26px;
}
.icon_Tablet{
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -40px -91px;
    height: 22px;
    width: 20px;
}
.icon_pk{
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -60px -91px;
    height: 22px;
    width: 22px;
}
.icon_dhtt{
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -99px -91px;
    height: 22px;
    width: 18px;
}
.icon_dhtm{
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -83px -91px;
    height: 22px;
    width: 15px;
}
.icon_pc{
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -118px -90px;
    height: 22px;
    width: 26px;
    }